@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: antiquewhite;
  text-align: center;
}

button {
  border: solid black 1px;
}

input {
  border: solid black 1px;
}
